<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-md-3">
      <h1>Add Task</h1>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a style="margin-top: 10px" class="btn btn-primary" routerLink="/tasks">Task list</a></div>
  </div>
  <div class="row">
    <form #taskForm="ngForm" (ngSubmit)="createNewTask(taskForm)">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Task Description</mat-label>
          <input matInput [(ngModel)]="task.description" name="description" type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Priority Level</mat-label>
          <mat-select [(ngModel)]="task.priorityLevel" name="priorityLevel" id="priorityLevel">
            <mat-option *ngFor="let priorityLevel of priorityLeveList" [value]="priorityLevel">{{priorityLevel}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="buttons" type="submit" mat-raised-button color="primary" [disabled]="!task.description || !task.priorityLevel">Create</button>
    </form>
  </div>
</div>
