<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Update Task</h1>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <a style="margin-top: 5px" class="btn btn-primary" routerLink="/tasks">Task List</a>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="taskForm" (ngSubmit)="updateTaskInfo(idToUpdate)">
      <div class="mb-3">
        <input type="hidden" formControlName="id">
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Task Description</mat-label>
          <input matInput type="text" formControlName="description" name="description" id="taskDescription">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Priority Level</mat-label>
          <mat-select name="categoryId" id="priority" formControlName="priorityLevel">
            <mat-option *ngFor="let priorityLevel of priorityLevels" [value]="priorityLevel">{{priorityLevel}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="buttons" type="submit" mat-raised-button color="accent"  [disabled]="!taskForm.get('description').value">Update</button>
    </form>
  </div>
</div>
