<h2 class="text-center">
  Todo App
</h2>
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <h3>Total tasks: {{taskList.length}}</h3>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <a class="buttons" mat-raised-button color="primary" routerLink="/tasks/create" style="margin-top: 10px">Add</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table caption-top">
        <caption>Task List</caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Priority</th>
          <th scope="col" colspan="2" style="text-align: center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of taskList; index as i">
          <th [class.completed]="task.completed">{{i+1}}</th>
          <td (click)="changeTaskStatus(i)" [class.completed]="task.completed" id="taskDescription">{{task.description}}</td>
          <td [class.completed]="task.completed">{{task.priorityLevel}}</td>
          <td style="text-align: center"><a class="buttons" mat-raised-button color="accent" [routerLink]="['/tasks/edit', task.id]">Update</a></td>
          <td style="text-align: center"><button class="buttons" mat-raised-button color="warn" (click)="deleteTask(task.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
